/*=============CSS Utilitty HEAR===========*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --primary-color: #2A323D;
    --secondary-color: #fd4c48;
    --button-color: #1abc9c;
}

.bg-color { background-color: var(--secondary-color)}
.bg-color2 {background: var(--button-color)}
.text-color {color: var(--primary-color)}
.text-color2 {color: var(--secondary-color)}
.text-color3{color: #1abc9c;}

.rtl-direction{ direction: rtl;}
.ltr-direction{direction: ltr;}

.link-hover:hover {color: var(--secondary-color) !important;}
.bg-hover:hover {background: var(--secondary-color) !important; color: #fff;}
.bg-hover2:hover{background: var(--primary-color)!important; color: #fff;}
.language:focus-visible {
    outline: 0;
}
.mobile-icon {
    font-size: 12px;
}

.em-service > .card > .card-body > i{
    right: -12px;
}
 .em-service >.card:hover{
border-bottom: 4px solid;
}
.slick-dotted.slick-slider{
    margin-bottom: 10px!important;
}
.slick-dots li button:before {
    font-size: 40px !important;
}
.next-btn:hover, .prev-btn:hover{
    background-color:var(--primary-color);
}

#scroll-top {
    position: fixed;
    bottom: 30px;
    right: 35px;
    opacity: 0;
    -webkit-transition: .8s;
    -o-transition: .8s;
    transition: .8s;
}
#scroll-top > a:hover{background-color: black;}

.bg-color3{background: #fef5ea;}
.btn-bg{background: #f6861f;}
.btn-color{color: var(--button-color)}
* {font-family: 'Plus Jakarta Sans', sans-serif;}
a {text-decoration: none;}

.rounded-4{border-radius: 30%!important;}
.rounded-5{border-radius: 12px;}
.fs-normal{font-size: 14px;}
.form-control:focus {color: #212529;background-color: #fff;border-color: var(--button-color);outline: 0;box-shadow: none;
}
.rounded-start-2{border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem}
.add-car:hover{background-color: var(--button-color)!important;}

.dropdown-item:active{color: #080606;background-color: transparent;}
.list-group-item{padding: 0.2rem 0rem;}
.cursor{cursor: pointer;}
.btn:focus, .btn-close:focus{box-shadow: none;}
.nav-link {color: rgb(0 0 0 / 86%) !important;font-size: 13px;}
.link:hover { color: var(--button-color) !important}

.hover:hover {color: var(--color-1) !important;cursor: pointer;font-weight: bold;}

.img-radius {border-radius: 16px;cursor: pointer;}
.w-20 {width: 20% !important;}
.box-shadow { box-shadow: 0 8px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);}
.box-shadow2 {box-shadow: 0 8px 15px -3px rgb(0 0 0 / 2%), 0 4px 6px -4px rgba(0, 0, 0, 0.1)}
.fw-thik {font-weight: 600;}
.breadcrumb-item.active{color: var(--button-color);}
/*==================================
        START HEADER CSS DESIGN
=============================*/
.d-grid-inline {
    display: inline-grid;
    display: -ms-inline-grid;
}
.top-header { background: #2A323D;border-radius: 0px 0px 80px 80px;}
.site-logo {width: 190px}
.top-dropdown {background-color: #faebd721;min-width: 70px}
.lang-menu {border-radius: 10px;min-width: 25px;}
.toolbar > ul > li {color: #546476;font-size: 14px;cursor: pointer;}
.toolbar {box-shadow: 0 0 9px rgba(0, 0, 0, .12);border-top-left-radius: 12px;
    border-top-right-radius: 12px;}

.dropdown-toggle::after {
    font-family: "Font Awesome 5 Free";
    content: "\f078";
    font-weight: 700;
    vertical-align: baseline;
    border: 0;
    margin-right: 0.255em;
    font-size: 13px;
}

.btn-outline:hover {background-color: var(--primary-color);}
.navbar-toggler {border-radius: 6px;border-color: rgb(0 0 0 / 44%) !important;}
.navbar-toggler:focus {box-shadow: none}
.hero-title {text-shadow: 0 2px 4px rgb(0 0 0 / 61%)}
.hero-section {
    background-image: url('../img/hero.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
}
@keyframes animate {
    from {
        transform: scale(.9);
    }

    to {
        transform: scale(1);
    }
}
.dropdown-menu {transition: .3s ease !important;}
.dropdown { transition: .3s ease !important;}
.menu-item {display: block;visibility: hidden;opacity: 0;transition: .3s ease !important;overflow: hidden;}
.dropdown:hover .menu-item {opacity: 1;visibility: visible;animation: animate .3s cubic-bezier(.68, -.55, .265, 1.55);}

.navbar-toggler-icon {
    background-image: url('../img/menu.png') !important;
}

.profile{display: none;}
/*==================================
        START HOME PAGE CSS
=============================*/


.car-category:hover > .cat-img{scale: 1.1;}
.car-category > .card > .card-img-top{width: 50%!important}
.card-content {transition: .3s;}
.card-content:hover { box-shadow:0 0.5rem 1rem rgba(143, 141, 136, 0.15)!important}

.identy{box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px !important}
.accordion-button:focus{box-shadow: none;}
.card {border-radius: 16px;transition: .2s;}
.card-img {border-radius: 12px;transition: .5s;}
.text-shadow{text-shadow: 3px 4px 7px #000000;}
.featured-badge {border-radius: 20px;transition: .3s ease;padding: 0px 10px;}
.nav-link.active{background-color: var(--primary-color)!important;color: white!important;}
.dropdown-item{font-size: 14px;}
.card-title{transition: .3s ease;}
.car-driver:hover .card-img {scale: 1.1;}
.car-driver:hover .card-title{margin-top: -2rem!important;}
.car-city:hover  .card-img{scale: 1.1;}
.car-brand{transition: .3s ease; cursor: pointer; }
.car-brand:hover{scale: 1.05;}
.featured-car:hover  .card{box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px!important;}
.view-more:hover button{background: var(--secondary-color)!important;color: white!important}

.form-select{color: #00000080; font-weight: bold; padding:10px;}
.advance-search{padding: 09px 18px;}
.advance-search:hover{background: var(--button-color)!important;}



.brand-img{margin: auto;padding: 20px 60px 40px 60px;background-color: white;border:2px solid #dddddd;border-radius: 18px;max-width: 200px;}
.brand-title{position: absolute;top:85%;text-wrap: nowrap; color: var(--secondary-color);}


.card-text{font-size: 14px;}
.nice-select{width: none!important;}

 #call-to-action {background: linear-gradient(rgb(0 0 0/60%), rgb(3 3 3/60%)),
         url(../img/banner.webp) 0 0/100% 100% no-repeat;
 }
.offcanvas-backdrop.show { opacity: .7;}
.modal{background: #00000054;}
.form-floating label {color: #000000b3;font-size: 14px;}
.form-floating>.form-control,
.form-floating>.form-select { height: 50px;}
.find-driver{background-image: url('../img/Shep01.png');}
.contact-operator{background-image: url('../img/Shep02.png');}
.lets-drive{background-image: url('../img/Shep03.png');}
.user-direction-img{ 
    padding: 70px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/*=================================
    Design for Car Details Page
===================================*/
.phone-call {background: var(--primary-color);padding: 12px 0px;font-size: 15px;font-weight: 600;}
.chat-whatsapp {background: #2ab13f;padding: 12px 0px;font-size: 15px;font-weight: 600;}
.send-message { background: var(--secondary-color); padding: 12px 0px;font-size: 15px;font-weight: 600;}
.phone-call:hover,
.chat-whatsapp:hover,
.send-message:hover { border: 2px solid var(--secondary-color);background: none;color: black !important;}
.breadcrumb-item>a {color: black !important;}

.modal-body>.nav>.nav-item {font-size: 15px;}
.car-save {top: 15px;right: 120px;z-index: 1;}
.car-share {top: 15px;right: 10px;z-index: 1;}
#copy-link { margin-left: -5px;}
.img-arrow-prev {top: 50%;left: 3%;z-index: 5;}
.img-arrow-next {top: 50%; z-index: 5; right: 3%}
.iti {display: block !important}
.slider-nav>.slick-list>.slick-track>.slick-current {opacity: .5;}
.slider_counter {position: absolute;bottom: 1rem;left: 1rem;z-index: 1;font-size: 1.5rem;font-weight: 600;color: #fff; pointer-events: none;}
.label {position: absolute;background: white; z-index: 1; left: 10px;top: 12px;padding: 0px 5px;}



/*=================================
Design for Car Search Result Page
===================================*/
.ads-slider > .slick-prev, .slick-next{background-color: #c9c9c9!important;height: 25px !important;
    width: 25px !important;border-radius: 18px;}
.ads-slider> .slick-prev:hover, .slick-next:hover {
    background: var(--primary-color)!important
}
.form-check-input:checked {
    background-color: var(--button-color);
    border-color: var(--button-color);
}
.form-check-input:focus {
    border-color: var(--button-color);
    box-shadow: none;
}
.form-select:focus {
    border-color: var(--button-color);
box-shadow: none;
    outline: 0;
}

.multiselect-dropdown:hover{border: solid 1px var(--button-color);}


 .vehicle-selector, .vehicle-selector2 {
     text-align: justify;
 }

 .vehicle-selector input, .vehicle-selector2 input {
     appearance: none;
 }

 .vehicle-selector input:active+.car-body {
     opacity: .9;
 }
 .vehicle-selector2 input:active+.car-body-2 {
     opacity: .9;
 }

 .vehicle-selector input:checked+.car-body {
     filter: none;
     border: 2px solid var(--button-color);
     border-radius: 8px;
 }

  .vehicle-selector2 input:checked+.car-body-2 {
      filter: none;
      border: 2px solid var(--button-color);
      border-radius: 8px;
  }

 .car-body:hover, .car-body-2:hover {
     filter: brightness(1.2) grayscale(.5) opacity(.9);
 }

 .car-body, .car-body-2 {
     cursor: pointer;
     background-size: contain;
     background-repeat: no-repeat;
     display: inline-block;
     width: 82px;
     height: 62px;
     transition: all 100ms ease-in;
     filter: brightness(1.8) grayscale(1) opacity(.7);
     background-position: center;
     border-radius: 8px;
     text-align: center;
     font-size: 12px;
 }



 .fuel-selector input, .fuel-selector2 input {appearance: none;}
 .fuel-selector input:checked+.fuel-select {background: var(--button-color);color: #ffff;border-radius: 30px;}
 .fuel-select, .fuel-select2 {
     cursor: pointer;
     display: inline-block;
     width: 80px;
     height: 40px;
     padding: 10px;
     transition: all 100ms ease-in;
     border-radius: 30px;
     text-align: center;
     font-size: 12px;
 }
 .fuel-selector input:checked+.fuel-select {
     background: var(--button-color);
     color: #ffff;
     border-radius: 30px;
 }


 .fuel-selector2 input:checked+.fuel-select2 {
     background: var(--button-color);
     color: #ffff;
     border-radius: 30px;
 }





.rental-select, .rental-select2{margin-top: -20px;}
.period-selector input, .period-selector2 input {
    appearance: none;
}

.period-selector input:checked+.period-select {
    background: var(--button-color);
    color: #ffff;
    border-radius: 30px;
}

.period-select, .period-select2{
    cursor: pointer;
    display: inline-block;
    width: 80px;
    height: 40px;
    padding: 10px;
    transition: all 100ms ease-in;
    border-radius: 30px;
    text-align: center;
    font-size: 12px;
}


/* Periode Selector for Mobile*/

.period-selector2 input:checked+.period-select2 {
    background: var(--button-color);
    color: #ffff;
    border-radius: 30px;
}


.payment-selector input, .payment-selector2 input {
    appearance: none;
}

.payment-selector input:checked+.payment-select {
    background: var(--button-color);
    color: #ffff;
    border-radius: 30px;
}

.payment-selector2 input:checked+.payment-select2 {
    background: var(--button-color);
    color: #ffff;
    border-radius: 30px;
}
.payment-select, .payment-select2 {
    cursor: pointer;
    display: inline-block;
    width: 90px;
    height: 36px;
    padding: 10px;
    transition: all 100ms ease-in;
    border-radius: 30px;
    text-align: center;
    font-size: 12px;
}



 .color-selector input,  .color-selector2 input {
     appearance: none;
 }

 .color-selector input:checked+.color-select {
     background: var(--button-color);
     color: #ffff;
     border-radius: 8px;
 }
 .color-selector2 input:checked+.color-select2 {
     background: var(--button-color);
     color: #ffff;
     border-radius: 8px;
 }
 .color-select, .color-select2 {
     cursor: pointer;
     display: inline-block;
     width: 75px;
     height: 40px;
     padding: 10px;
     transition: all 100ms ease-in;
     border-radius: 6px;
     text-align: center;
     font-size: 12px;
     border: 1px solid var(--button-color);
     margin-bottom: 10px;
 }



 .color-select::after, .color-select2::after {
     content: "";
     padding: 5px;
     height: 16px !important;
     width: 16px !important;
     border-radius: 20px;
     display: inline-block;
     vertical-align: middle;
     margin-left: 3px;
 }

 .color-select:hover,  .color-select2:hover {
     background-color: #ffeeee;
     border: none;
 }

 .all-color::after, .all-color2::after {
     background-color: #4158D0;
     background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
 }


 .black::after {
     background: black;
 }

 .blue::after {
     background: rgb(18, 112, 236);
 }

 .gold::after {
     background: linear-gradient(135deg, rgb(212, 148, 2) 9.38%, rgba(255, 225, 155, 0.337) 49.66%, rgb(255, 191, 45) 87.5%)
 }

 .white::after {
     background: #ffff;
     border: 1px solid
 }

 .silver::after {
     background: linear-gradient(140.01deg, rgb(163, 166, 170) 3.13%, rgb(241, 241, 241) 50.34%, rgb(203, 204, 204) 92.87%)
 }

 .red::after {
     background: rgb(247, 49, 49)
 }

.filter-shorting:focus-visible{
    border: 1px solid;
}


 ::selection {
     color: #fff;
     background: #17A2B8;
 }
 .price-input, .price-input2 {width: 100%;display: flex;margin: 20px 0 20px;}
 .price-input .field, .price-input2 .field{display: flex;width: 100%;height: 45px;align-items: center;}

 .field input {
     width: 100%;
     height: 100%;
     outline: none;
     font-size: 19px;
     margin-left: 12px;
     border-radius: 5px;
     text-align: center;
     border: 1px solid #999;
 }

 input[type="number"]::-webkit-outer-spin-button,
 input[type="number"]::-webkit-inner-spin-button {
     -webkit-appearance: none;
 }
 .price-input .separator ,.price-input2 .separator{
     width: 130px;
     display: flex;
     font-size: 19px;
     align-items: center;
     justify-content: center;
 }

 .slider,  .slider2 {height: 5px;position: relative;background: #ddd; border-radius: 5px;}
 .slider .progress, .slider2 .progress {
     height: 100%;
     left: 0%;
     right: 0%;
     position: absolute;
     border-radius: 5px;
     background:var(--button-color);
 }

 .range-input, .range-input2 { position: relative;}
 .range-input input, .range-input2 input {
     position: absolute;
     width: 100%;
     height: 5px;
     top: -5px;
     background: none;
     pointer-events: none;
     appearance: none;
     cursor: pointer;
 }

 input[type="range"]::-webkit-slider-thumb {
     height: 17px;
     width: 17px;
     border-radius: 50%;
     background: var(--button-color);
     pointer-events: auto;
     -webkit-appearance: none;
     box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
 }

 input[type="range"]::-moz-range-thumb {
     height: 17px;
     width: 17px;
     border: none;
     border-radius: 50%;
     background: var(--button-color);
     pointer-events: auto;
     -moz-appearance: none;
     box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
 }


.page-link{color: #000000;}
.page-item.active .page-link{background-color: var(--primary-color);}

 .fav-icon {
     z-index: 50;
 }

 .fav-icon span {
     background-color: #003e7d;
     z-index: 51;
 }


 .fav-icon abbr i {
     color: #fff;
 }

 .fav-icon abbr i:hover {
     color: #000;
 }

 .img-100 {
     height: 282px !important;
 }


 .contact-call {
     background: var(--primary-color);
     border-radius: 25px 25px 0px 0px;

 }

 .contact-whatup {
     background-color: #24cc63;
 }

 .contact-plane {
     background: var(--secondary-color);
     border-radius: 0px 0px 25px 25px;
 }



 /*====== START HOME PAGE CSS =====*/

 /* profile img text veryfiy btn start */
 .profile-username > h4 {
     color: #003e7d;
     margin-top: -2%;
     margin-bottom: 3%;
 }

 /* imges uploaded modal startss */
 .min-file-upload > img {
     border-radius: 50%;
     padding-left: 15px;
     padding-right: 15px;
     width: 150px;
     height: 150px;
     margin-left: 65px;
     margin-right: 30px;
 }


 .file-upload {
     text-align: center;
     height: 100%;
     background-color: #7878782d;
     border-radius: 12px;
     height: 130px;
     width: 150px;
 }

 .file-upload > p {
     color: #003e7d;
     margin-top: 25px;
 }

 .file-upload > i {
     margin-top: -20px;
     padding-top: 5px;
 }

 #i-Tag[type="file"] {
     display: none;
 }

 .l-tag {
     cursor: pointer;

 }

 #imageName {
     color: green;
 }

 /* imges uploaded modal ends */
 .get-viryfiy-btn a {
     border-color: #003e7d;
     color: #003e7d;
     background: #ffffff;
     margin-top: 1%;
 }

 /* Get verified modal startr */
 .verified-build {
     border-bottom: solid 1px #6666663b;
 }

 .icon-img {
     width: 12%;
     background-color: #6993bd13;
 }

 .icon-img img {
     margin: auto;
     width: 55%;

 }

 .icon-text-p {
     margin-left: -40px;
     color: #003e7d;
 }

 .icon-textp {
     margin-top: -16px;
     margin-left: 13px;
     color: #003e7d;
 }

 .icon-text-s {
     margin-left: -202px;
     color: #003e7d;
 }



 .modal-footer button {
     color: #003e7d;
     border: solid 1px #0040806b;
 }


 .modal-footer button:hover {
     color: tomato;
     border: solid 1px tomato;
 }

 /* modal one end */

 .bt:hover {
     color: tomato;
 }

 .sn-icon-img img {
     margin: auto;
 }

 .sn-icon-img label {
     margin-left: 75px;
     border-radius: 10px 0px 0px 10px;
 }

 .sn-icon-img input {
     color: #91919159;
     border-radius: 0px 10px 10px 0px;

 }

 .sn-icon-img button {
     color: #003e7d;
     border: solid 1px #74747449;
     background-color: white;
     border-radius: 10px;
     margin-left: -5px;
 }

 .sn-icon-img button:hover {
     color: rgb(255, 255, 255);
     border: solid 1px tomato;
     background-color: tomato;
 }

 .customer-s {
     font-size: 12px;
     align-items: center;
     color: #9a9a9ac9;

 }


 .modal-body > label {
     color: #003e7d;
     font-size: 18px;
     padding: 5px;
 }

 .modal-body > input {
     border: solid 1px #003e7d43;
     font-size: 14px;
 }

 .modal-body > input:focus-visible {
     outline: none;
 }



 /* get verified modal ends */


 .get-viryfiy-btn > a:hover {
     color: tomato;
 }

 .get-viryfiy-btn a img:hover {
     color: tomato;
 }

 /* profile img text veryfiy btn ends */

 /* tab btn startr */
 .nav-pills .nav-link.active,
 .nav-pills .show>.nav-link {
     background: none;
     color: tomato;
 }

 .nav button {
     color: #003e7d;
 }

 .nav .btnn {
     border-bottom: solid 1px #003e7d1f;
     margin-left: 20px;

 }

 .btnn label {
     color: #003e7d;
 }

 /* tab btn Endr */

 /* profile tab contant startr */
 #v-pills-tab {
     border-radius: 12px;

 }



 .your-profile-text {
     color: #003e7d;
 }

 .prog-bg {
     background: #003e7d;
 }

 .name-box {
     border-bottom: 1px solid rgba(0, 0, 0, 0.103);
 }

 .name-box p {
     color: #003e7d;
     font-size: 2.3vh;
 }


 .name-box h5 {
     color: #003e7d;
     margin-top: -12px;
     font-size: 3vh;
 }

 .name-box a {
     margin-top: -25px;
     text-decoration: none;
     color: #003e7d;
     padding-right: 2%;
 }

 /* profile tab contant Ends */

 /* Frofile right site Box Start */



 .box-style {
     border: 1px solid #7474744c;
     border-radius: 16px;
 }

 .box-style:hover {
     background: rgba(193, 193, 193, 0.025);
 }


 .f-icon i {
     font-size: 25px;
     color: #003e7d;
     margin-top: -20%;

 }

 .f-icon h4:hover {
     color: tomato;
 }

 .f-icon i:hover {
     color: tomato;
 }

 .f-icon p:hover {
     color: tomato;
 }


 /* Frofile right site Box End */


 /* user daesboard page ends */

/* Design for App Download Info */

#app-info{
    background-image: url('../img/Car-Rental-App-Dubai-Luxury-Economy-Car-Rental-Offers-OneClickDrive.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px 0px;
}


.eapps-widget-toolbar{display: none!important;}
.huflDf{font-size: 30px!important; color: var(--secondary-color);}
.huflDf::after{content: '?';}

/* ============================== 
CSS DESIGN FOR THE CONTACT US PAGE
==============================*/
#contact-us{
    background-color: black;
        background-image: linear-gradient(#000000bd, #000000d1), url('../img/car-help-line.jpeg');
        background-size: cover;
        background-repeat: no-repeat;
}


#blog-content{
    background: rgb(248 248 248) !important
}


.page-link {
    padding: .375rem 1.75rem;
    border-radius: 8px;
    margin: 10px;
}




/* ================================
Car Directory page desigen start 
================================ */

.ocd-car-internal-data p {
    font-size: 12px;
}

.ocd-car-internal-data i {
    font-size: 12px;
}

.ocd-car-internal-data button {
    background-color: #ed8413;
}

.last-cont-psg a {
    color: #6c757d;
}

.view-btn {
    background-color: #ed8413;
}


#card-modal img {
    opacity: 0.3;
    margin-left: 9rem !important;
}

.company-info>tbody>tr>:first-child {
    width: 30%;
}

/* ================================
Car Directory page desigen Ends 
================================ */






/* ============================== 
CSS DESIGN FOR THE FOOTER
==============================*/
footer {background: #2A323D;padding-top: 30px;}
.logo-shadow{text-shadow: 2px 2px 3px #d36980ad;
    font-weight: 600;}


.social-link .fab {width: 20px;height: 20px;margin: 10px;font-size: 18px;color: var(--primary-color);}
social-link{list-style: none;}
.list-group{list-style: none;}
footer .copy-right {background-color: var(--secondary-color);font-size: 12px;}

.propulle-location > .nav-item > .nav-link{color: white!important;}



/*====================CUSTOME MEDIA QUERY==================*/
@media (min-width:992px){
    .sell-car-btn {width: 20%}
         .site-logo {
             width: 15%
         }
}

@media (max-width:576px){
    .brand-img{max-width: 170px;}
    .search-btn{width: 150px;}
    .mobile-title{font-size: 20px!important}
    .subtitle{font-size: 14px;}
        favorite-plates::before {
            content: "";
            position: absolute;
            left: 0;
            width: 20px;
            height: 100%;
            background: white;
            z-index: 1;
        }
     .car-location::before {
        content: "";
        position: absolute;
        left: 0;
        width: 30px;
        height: 100%;
        background: white;
        z-index: 1;
    }


 .contact-call {
     background: var(--primary-color);
     border-radius: 12px 12px 0px 0px;
     width: 100% !important;
 }

 .contact-plane {
     background: var(--secondary-color);
     border-radius: 0px 0px 12px 12px;
     width: 100% !important;
 }

 .contact-whatup {
     background: #24cc63;
     margin-top: 2px;
     margin-bottom: 2px;
     width: 100% !important;
 }


  .rounded-start-2 {
      border-bottom-left-radius: 0rem;
      border-top-left-radius: 0rem
  }
  .rounded-top-2{
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }


.contact-call {
    background: #ffc400;
    border-radius: 12px 12px 0px 0px;
    width: 100% !important;
}

.contact-plane {
    background: #4d4d4d;
    border-radius: 0px 0px 12px 12px;
    width: 100% !important;
}

.contact-whatup {
    background: #5cb85c;
    margin-top: 2px;
    margin-bottom: 2px;
    width: 100% !important;
}  

}

@media (max-width:768px) {
    .display-media {display: none!important}
    .hidden{visibility: hidden;}
    .car-blog-location{height: 330px!important;}

        .company-info>tbody>tr>:first-child {
            width: 100%;
    
        }
}

@media (max-width: 1200px) {
  
}


